footer {
  display: flex;
  align-items: center;
  height: 4em;
  background-color: rgb(111, 209, 102);
  color: black;
  padding: 1em;
  position: relative;
  margin-top: -100px;
  height: 100px;
  clear: both;
}

a {
  color: black;
  text-decoration: none;
}