footer {
  display: flex;
  align-items: center;
  height: 4em;
  background-color: rgb(111, 209, 102);
  color: black;
  padding: 1em;
  position: relative; 
  bottom: 0; 
  width: 100%;

  a {
    color: black;
  }
}
