.homepage-wrapper {
  display: flex;
  flex-direction: column;
  font-family: Righteous;

  .homepage-icons {
    padding: 1em;

    svg {
      padding: 10px;
      width: 120px;
      height: 120px;
    }
  }

  .main-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15em;
    background-color: rgb(221, 166, 166);
    padding: 0em 6em 0em 5em;
    font-size: 30px;
    color: rgb(250, 242, 127);
  }

  .module-one {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 0em 5em 0em 4em ;
    height: 11em;
    background-color: rgb(137, 231, 235);
    font-size: 40px;
    color: rgb(248, 123, 144);
  }

  .module-two {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0em 3em 0em 3em;
    height: 11em;
    background-color: rgb(250, 248, 112);
    font-size: 40px;
    color: rgb(164, 137, 253);
  }

}
