main {
  color: black;
  display: flex;
  flex-direction: column;
  overflow: auto;

  header {
    border-bottom: 1px solid black;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  border: none;
  background: #7aa7eb;
  padding: 15px 0;
  border-radius: 0;
  margin-bottom: 0;
  width: 100%;
  top: 0;
}

.nav-text, .nav-title {
  color: white;
  stroke: 1px solid black;
  margin-top: 0;
  padding: 20px;
  font-family: 'Righteous', cursive;
  float: right;
  text-decoration: none;
}

.nav-text {
  font-size: 23px;
}

.nav-title {
  font-size: 30px;
}

table {
  width: 100%;
}

.routes-wrapper {
  height: 100%;
}