main {
  color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  border: none;
  background: #38537B;
  padding: 15px 0;
  border-radius: 0;
  margin-bottom: 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 20;
}


.nav-text-title {
  font-size: 30px;
  color: white;
  margin-top: 0;
  float: left;
  font-family: 'Righteous', cursive;
}

.nav-text {
  font-size: 22px;
  color: white;
  margin-top: 0;
  padding: 20px;
  font-family: 'Righteous', cursive;
  float: right;
}