main {
  color: black;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding-bottom: 100px
}

nav {
  display: flex;
  justify-content: space-between;
  border: none;
  background: #7aa7eb;
  padding: 15px 0;
  border-radius: 0;
  margin-bottom: 0;
  width: 100%;
  top: 0;
}


.nav-text-title {
  font-size: 30px;
  color: white;
  margin-top: 0;
  float: left;
  font-family: 'Righteous', cursive;
}

.nav-text {
  font-size: 22px;
  color: white;
  margin-top: 0;
  padding: 20px;
  font-family: 'Righteous', cursive;
  float: right;
  text-decoration: none;
}

// footer {
//   position:absolute;
//   left:0;
//   bottom:0;
//   right:0;
//   background-color: black;
//   color: white;
//   height: 5em;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }