.coininfo {
  display: flex;
  flex-direction: column;
  padding: .1em 0 1em 1em;
  border-radius: 15px;
  margin-top: .7em;
  background-color: white;
  box-shadow: 0 10px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.coininfo-select {
  
  h5 {
    margin-bottom: 5px;
  }
}

.coininfo-table {
  border: none;
  width: 28em;
  
  td {
    text-align: left;
    border: none;
  }

  p {
    margin: .55em 0;
  }
  
  h2 {
    margin: .4em 0; 
  }
}
