.homepage-wrapper {
  display: flex;
  flex-direction: column;
  font-family: Righteous;

  .homepage-icons {
    padding: 1em;

    svg {
      padding: 10px;
      width: 120px;
      height: 120px;
    }
  }

  .main-heading {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 15em;
    background-color: rgb(221, 166, 166);
    font-size: 30px;
    color: rgb(250, 242, 127);
    white-space: nowrap;
    padding-left: 1em;
  }

  .module-one {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    height: 11em;
    background-color: rgb(137, 231, 235);
    font-size: 40px;
    color: rgb(248, 123, 144);
    white-space: nowrap;
    padding-right: 1em
  }

  .module-two {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    height: 11em;
    background-color: rgb(250, 248, 112);
    font-size: 40px;
    color: rgb(164, 137, 253);
    white-space: nowrap;
    padding-left: 1em;
  }

}
