.watchlist-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.add-coins-button {
  padding: 1em;
  margin-bottom: 1.5em;
}

.watchlist-heading {
  display: flex;
  justify-content: center;
  font-family: Secular One;
  color: #5f92df;
  margin-top: 1em;
}

.watchlist {

  &__no-coins {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4em;
    font-size: 30px;
  }

  &__no-coins-text {
    margin-bottom: 1em;
  }

  &__loading {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 4em;
    font-size: 30px;
  }
}

.table-wrapper {
  text-align: center;
  margin: 2% 0;
  height: 100%;
  margin: 1em 2em;
  border-radius: 20px;
  padding: 1.5%;
  background-color: rgb(248, 246, 232);
  box-shadow: 0 10px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.watchlist-table {
  table-layout: fixed;
  border: none;
  width: 100%;
  border-collapse: collapse;
  

  thead {
    font-weight: bold;
  }
  
  th {
    padding-bottom: 1em;
  }

  td {
    padding: 1em .5em;
  }

  thead th:nth-child(1) {
    width: 8%
  }
  thead th:nth-child(2) {
    width: 10%
  }
  thead th:nth-child(3) {
    width: 10%
  }
  thead th:nth-child(4) {
    width: 10%
  }
  thead th:nth-child(5) {
    width: 10%
  }
  thead th:nth-child(6) {
    width: 20%
  }
  thead th:nth-child(7) {
    width: 20%
  }
  thead th:nth-child(8) {
    width: 15%
  }

}

