.trade-table {
  table-layout: fixed;
  border: none;
  width: 100%;
  border-collapse: collapse;
  border: none;
  border-radius: 15px;
  background-color: rgb(248, 246, 232);
  box-sizing: border-box;
  padding: 2%;
  box-shadow: 0 10px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  margin-bottom: 3em;

  thead {
    font-weight: bold;
  }
  
  th {
    padding-bottom: 1em;
    text-align: center;
  }

  td {
    padding: 1em .5em;
    text-align: center;
  }

  thead th:nth-child(1) {
    width: 10%
  }
  thead th:nth-child(2) {
    width: 10%
  }
  thead th:nth-child(3) {
    width: 10%
  }
  thead th:nth-child(4) {
    width: 10%
  }
  thead th:nth-child(5) {
    width: 10%
  }
  thead th:nth-child(6) {
    width: 10%
  }
  thead th:nth-child(7) {
    width: 10%
  }
  thead th:nth-child(8) {
    width: 10%
  }
  thead th:nth-child(9) {
    width: 8%
  }
}
